[2021-03-08 18:52] scossin opened #2 "Missing column names filled in: 'X1'"
We have executed the package, we had no error but a warning message at the end of the execution:

Warning message:
Missing column names filled in: 'X1' [1]

The CSV output file is correct, 3 headers, 3 columns. Some SQL queries returned 0 result so we have only 5 rows, I don't know if it could be related to this warning.

[2021-03-11 13:39] keesvanbochove commented on #2
This issue is obsolete, now that we have removed the cohort counting code and added cohort diagnostics and study execution instead.

[2021-03-11 13:39] #2 closed

[2021-03-11 13:40] scossin opened #6 "RunStudy - Error in `colnames<-`(`*tmp*`, value = SqlRender::camelCaseToSnakeCase(colnames(data))) : attempt to set 'colnames' on an object with less than two dimensions"
The error occurs here:
https://github.com/ohdsi-studies/PioneerWatchfulWaiting/blob/2efb021c2e0220df121e9efd6612ac3c56abf600/R/RunStudy.R#L205
[code]

This line:
[code]
We have all total counts < 140 (returns by getMinimumSubjectCountForCharacterization()) so featureProportions has 0 row next line and the writeToCsv function generates the error

[2021-03-11 13:55] scossin opened #7 "ORA-00923: FROM keyword not found where expected"
Our dbms is Oracle. This SQL query returns the error:

SELECT cohort_definition_id, COUNT(*) AS size
FROM OMOP_TEMP.PIONEER_CDWBordeaux_stg
WHERE cohort_definition_id IN (201,202,203)
GROUP BY cohort_definition_id;

The problem is "size" is a keyword. It works by quoting the word size ( As "size") or with another word (AS total_number)

The issue is already known and was fixed in the development b

[2021-03-11 13:57] scossin opened #8 "Make sure users are using the correct package versions"
Having renv.lock file is great but some users just open the "CodeToRun.R" file (opening the .Rproj file doesn't work on their rstudio server) and there's no warning they are executing the script with the wrong environment.
Maybe we can add something in the "CodeToRun.R" script at the beginning to check the package dependencies are being handled by the renv.lock file.

[2021-03-11 14:12] msuchard commented on #8
This verification is now standard practice in the estimation packages I help write.  So, feel free to reuse this code: https://github.com/ohdsi-studies/ScyllaEstimation/blob/0bb1b4f1af4d37c8bf1d7f7f8cb7677f689ba6c9/R/Main.R#L103

[2021-03-11 23:54] rfherrerac opened #9 "Error when sending to the OHDSI server"
After running:
library("OhdsiSharing")
privateKeyFileName <- "~/Characterization/study-data-site-pioneer"
userName <- "study-data-site-pioneer"
fileName <- "/home/ronald/Characterization/CPRD/diagnostics/Results_diagnostics_CPRD.zip"
folderName <- "CPRD"
sftpUploadFile(privateKeyFileName, userName, folderName, fileName)

Got:

Error in .jcall("RJavaTools", "Ljava/lang/Object;", "invokeMethod", cl,

[2021-03-12 08:14] marek05 opened #10 "Extra bracket in sql code"
I run the package v0.2.0 and got some issues with running sql files. We are using postgresql.

SQL file 103.sql has extra bracket in DATEADD(day,180,start_date)**)**

https://github.com/ohdsi-studies/PioneerWatchfulWaiting/blob/f860839614c129f73a41c54a3a1e11e9b6959686/inst/sql/sql_server/103.sql#L964

Similar issues with 104.sql, 106.sql, 108.sql, 110.sql, 111.sql, 112.sql
https://github.com/ohdsi

[2021-03-12 08:18] keesvanbochove commented on #10
Hi, what database system are you using?

[2021-03-12 08:20] marek05 commented on #10
We are using Postgresql 12.4

[2021-03-12 08:26] keesvanbochove commented on #10
Could you verify if it works with the current master version (`devtools::install_github("ohdsi-studies/PioneerWatchfulWaiting"`)?

[2021-03-12 08:52] scossin commented on #10
Same problem in Oracle, I'll re-install the latest version and try again.

[2021-03-12 08:59] keesvanbochove commented on #9
Hi @rfherrerac, the file not found exception mentions a different file and path than the fileName you assigned above it. Could you double check your variable assignments? The [sftpUploadFile](https://github.com/OHDSI/OhdsiSharing/blob/8778421042e74e8824c00a58cf63bedfbfeb54aa/R/Sftp.R#L231) function just uploads one file to the remote folder, and it should be generating a log message "Uploading ...

[2021-03-12 11:15] scossin opened #11 "Maximum number of expressions in a list is 1000 tips (java.sql.SQLSyntaxErrorException: ORA-01795)"
45/58: Instantiation cohort Mutations  (**320.sql**)

[code]
Too many concept_id given

[2021-03-12 12:09] scossin commented on #11
I'm trying this: https://github.com/scossin/PioneerWatchfulWaiting/commit/9132bc98efa54a3e4763eb37340d051cf640ce97

[2021-03-12 12:15] #10 closed

[2021-03-14 16:45] scossin commented on #6
By changing this number 140 to 20 (https://github.com/scossin/PioneerWatchfulWaiting/commit/7db6afbebb579503052b445039ff28c64acb8181), it finally worked.

[2021-03-15 12:46] scossin opened #13 "Error in km_raw %>% dplyr::mutate(timeToEvent = as.integer(as.Date(eventDate) - : could not find function "%>%""
The error happens when running the "runStudy" function. Adding library(dplyr) beforing running the function solved the issue for us.

[2021-03-23 19:31] golozara opened #14 "errro uploading CohortDiagnostics in ShinyApp"
I am getting the following when I am trying to upload the NCR, Bordeaux and MDH data to ShinyApp. This will then results in empty shells in the ShinyApp

.
.
.
Processing table concept_synonym
Warning: Table concept_synonym in zip file /Users/asieh.golozar/Desktop/CD/Strata/NCR/Results_NCR.zip has duplicate rows. Removing 19 records.

Processing table incidence_rate
Warning: Table incidence_rate i

[2021-04-01 09:13] #11 closed

[2021-04-01 09:26] keesvanbochove commented on #14
This is likely caused by the fact that all three of these result sets have different cohorts than the Shiny app expects. Bordeaux and MDH were run with an older version of the package, and the NCR cohort definitions are suffering from a character set - related problem. In order to be able to fix and debug this easier in the future, we are adding metadata to the cohort diagnostics results (see http

[2021-04-01 09:32] keesvanbochove opened #17 "Strange character Â appearing in cohort diagnostics cohort.csv file"
For some of the diagnostics results we got back after running the package, the name of a concept set defined in the JSON cohort specification in the package as `""name"": ""[PIONEER]  Biopsy""` gets altered to `""name"": ""[PIONEER]Â  Biopsy""` in the results. (see e.g. here: https://github.com/ohdsi-studies/PioneerWatchfulWaiting/blob/fff6fd9ba627e5aa027eb8079adcafbb90a6de2e/inst/cohorts/101.json

[2021-04-02 14:31] MaximMoinat commented on #17
Very likely fixed with #18

[2021-04-06 18:23] keesvanbochove commented on #8
This should be addressed by the the installation procedure (when the package is installed using install_github). However, verifyDependencies() is also added to CodeToRun.R in case people are running the package directly from source.

[2021-04-07 09:21] schuemie opened #19 "Post the protocol on Github?"
For consistency with the other OHDSI studies, I recommend putting the protocol in this repo as well.

[2021-04-07 12:44] keesvanbochove commented on #13
By adding dplyr and magrittr to the package dependencies, this should be fixed now.

[2021-04-07 12:44] #13 closed

[2021-04-07 12:45] rfherrerac opened #20 "Error in runStudy step"
after runStep, I got this error :  Error: Error executing SQL:
java.sql.SQLException: [Amazon](500310) Invalid operation: syntax error at or near ")"
Position: 593; attached the error report.

[errorReportSql.txt](https://github.com/ohdsi-studies/PioneerWatchfulWaiting/files/6271634/errorReportSql.txt)

[2021-04-07 12:45] #8 closed

[2021-04-07 13:05] YorgosA commented on #20
Hi Ronald,

The query is expecting a number of cohort ids but there is none.
Check line #20 in the errorReportSql.txt ( _o.cohort_definition_id IN ()_ )

[2021-04-07 15:06] keesvanbochove commented on #20
Right exactly @YorgosA. Just stepping through, this is caused by this line: https://github.com/ohdsi-studies/PioneerWatchfulWaiting/blob/862b0dbc03c85aebee3ce023f929943fa6dd19c0/R/RunStudy.R#L189
Which if you isolate and run it, creates an empty list.
[code]

[2021-04-07 15:48] keesvanbochove commented on #20
We can fix this by restoring the names in the 'name' columns in `inst/settings/CohortsToCreate...csv`, but it does beg the question which of the outcomes cohorts should be included in the combined survival analysis. Still only Death and Symptomatic progression? (see https://github.com/ohdsi-studies/PioneerWatchfulWaiting/blob/master/inst/settings/CohortsToCreateOutcome.csv) @MaximMoinat would it b

[2021-04-08 12:27] MaximMoinat commented on #20
The name column is used to create the filenames for the cohorts (`.json`, `.sql`) by `ROhdsiWebApi::insertCohortDefinitionSetInPackage()`. I did not want to change the filenames, so I added the ids in there as well.

[2021-04-08 12:34] MaximMoinat commented on #20
@keesvanbochove Simple fix made by simply referencing to the cohorts using the id

[2021-04-08 13:55] MaximMoinat opened #22 "Study metadata for runStudy"
Currently, the study metadata (package version, date) is added for the diagnostics results. We also want to add this to the main study results.

[2021-04-08 16:59] #20 closed

[2021-04-09 06:39] MaximMoinat opened #23 "Remove stats generation from sql"
@Tsemharb The new sql files include stats generation. This requires specification of the @results_database_schema, which we currently do not do. This is easily fixed by using [`ROhdsiWebApi::insertCohortDefinitionInPackage()`](https://ohdsi.github.io/ROhdsiWebApi/reference/insertCohortDefinitionInPackage.html) with `generateStats = FALSE`.

See also this code: https://github.com/ohdsi-studies/Pion

[2021-04-09 07:15] rfherrerac opened #25 "Error Cohort 47 when using runStudy function"
errorReportSQL:

DBMS:
redshift

Error:
java.sql.SQLException: [Amazon](500310) Invalid operation: syntax error at or near "@"
Position: 13;

SQL:
delete from @results_database_schema.cohort_inclusion_result where cohort_definition_id = 47 and mode_id = 0

R version:
R version 4.0.3 (2020-10-10)

Platform:
x86_64-pc-linux-gnu

Attached base packages:
- stats
- graphics
- grDevices
- utils
- datase

[2021-04-09 07:22] rfherrerac commented on #25
Is it related to #23?

[2021-04-09 11:22] MaximMoinat commented on #25
@rfherrerac Yes, that is indeed the same issue. I have to check with @Tsemharb to see how we can best fix this. Please revert to release 2.3 for now.

[2021-04-09 12:52] scossin opened #26 "ORA-00928 - missing SELECT keyword"
I have the same error in multiple SQL queries due to comments:
[code]
If I remove the comment -- Begin Primary Events the error disappears, it's quite mysterious.

errorReportSql.txt file:
[code]

[2021-04-09 12:56] rfherrerac commented on #26
Same by my side and same error.

DBMS:
redshift

Error:
java.sql.SQLException: [Amazon](500310) Invalid operation: syntax error at end of input
Position: 118;

SQL:
with primary_events (event_id, person_id, start_date, end_date, op_start_date, op_end_date, visit_occurrence_id) as
(

R version:
R version 4.0.3 (2020-10-10)

Platform:
x86_64-pc-linux-gnu

Attached base packages:
- stats
- graphics
-

[2021-04-09 13:30] #22 closed

[2021-04-09 13:52] keesvanbochove commented on #26
@scossin is this with released version 0.3.2 or with the master branch?

[2021-04-09 13:52] keesvanbochove commented on #25
@rfherrerac is this with released version 0.3.2 or with the master branch?

[2021-04-09 14:10] scossin commented on #26
It was the latest commit on master branch: https://github.com/ohdsi-studies/PioneerWatchfulWaiting/commit/4cb82b0cd3fb041893c7c842b21c070eea07d38e not the 0.3.2 release

[2021-04-13 07:48] keesvanbochove commented on #26
Closed by reverting latest commits to v0.3.2

[2021-04-13 07:48] #26 closed

[2021-04-13 07:48] keesvanbochove commented on #25
Closed by reverting latest commits to v0.3.2

[2021-04-13 07:48] #25 closed

[2021-04-13 07:49] keesvanbochove commented on #23
Closed by reverting latest commits to v0.3.2

[2021-04-13 07:49] #23 closed

[2021-04-13 07:50] keesvanbochove commented on #17
Fixed by updating the source concept definitions in ATLAS (remove space) - but would be good to have confirmation from affected data sources.

[2021-04-13 07:51] keesvanbochove commented on #9
Fixed by updating upload functions in Sharing.R.

[2021-04-13 07:51] #9 closed

[2021-04-13 07:52] keesvanbochove commented on #7
@scossin can you confirm this is fixed in 0.3.2?

[2021-04-13 07:52] keesvanbochove commented on #6
@scossin can you comment if this is still an issue in 0.3.2?

[2021-04-13 07:53] keesvanbochove commented on #14
@Anne0507 could you check if an error like this still appears with the latest results files from running v0.3.2?

[2021-04-13 10:46] scossin commented on #6
We didn't have this error in version 0.3.2 but I don't know why.

[2021-04-13 10:47] scossin commented on #7
Yes for Oracle users it's still an issue, we had this error in version 0.3.2

[2021-04-14 09:11] YorgosA opened #27 "Error when running cohortDiagnostics"
I run the first part of the package (cohortDiagnostics) and after running for almost 42 hours it finished with an error and didn't produce the expected output. I'm pasting the last rows of the cohortDiagnosticslog.txt file below:

Finding orphan concepts took 4.45 mins
Running concept set diagnostics took 4.43 hours
Creating time distributions
Error when running CohortDiagnostics::runCohortDiagnos

[2021-04-14 09:32] keesvanbochove commented on #27
Hello @YorgosA could you also include (last part of) cohortDiagnosticsLog.txt? This should show which cohort definition is the culprit.

[2021-04-14 12:25] keesvanbochove commented on #27
Hello @YorgosA looking at this log and the timing I think you actually ran v0.3.1 which had some known errors. Could you try installing and running version 0.3.2 instead?

[2021-04-14 13:08] YorgosA commented on #27
Sure. I'll let you know once it is done.

[2021-04-16 09:35] YorgosA commented on #27
The error comes up when the package is trying to create time distributions.

From the console:

_Finding orphan concepts took 12.6 mins
Running concept set diagnostics took 5.28 hours
Creating time distributions
Error when running CohortDiagnostics::runCohortDiagnostics on CohortGroup: strata
Error in FALSE: Error executing SQL:
java.sql.SQLException: [Amazon](500310) Invalid operation: syntax err

[2021-04-19 11:11] keesvanbochove commented on #27
@YorgosA which versions of the CohortDiagnostics and FeatureExtraction packages do you have installed, and do these match the ones in renv.lock? This could should be invoked from R/TimeDistributions.R.  Could you try ensuring that FeatureExtraction v3.1.0 is installed? Looking at https://github.com/OHDSI/FeatureExtraction/compare/v3.0.1...v3.1.0 this may have been fixed in that version (R/GetCovar

[2021-04-20 09:07] YorgosA commented on #27
I had FeatureExtraction v3.0.1 as renv suggested. Switching to FeatureExtraction v3.1.0 fixed the problem however so you can update renv.lock.

[2021-04-20 12:44] keesvanbochove commented on #17
This problem is confirmed fixed now, got correct results from NCR.

[2021-04-20 12:44] #17 closed

[2021-04-20 12:46] #27 closed

[2021-04-20 12:46] #19 closed

[2021-04-20 12:46] keesvanbochove commented on #7
Bumped FeatureExtraction requirements to fix this.

[2021-04-20 12:46] #7 closed

[2021-05-07 06:02] marek05 opened #32 "Hardcoded table names"
There are some hardcoded tablenames in the code.

I got following error while I run the study part.

[code]

I found that following files have hardcoded `pioneer_sp_stg` table name

This is the file for which I got the error
https://github.com/ohdsi-studies/PioneerWatchfulWaiting/blob/5e1b4f6f7bb468064d7546dae3c3f657ebc67421/inst/sql/sql_server/TimeToEventCombined.sql#L8

I found also this file wi

[2021-05-19 11:28] bdemeulder opened #34 "Shiny app issues"
Updates are needed in the shiny app for characterization:

- Cohort.csv and cohortXref.csv have to be updated with the current list.
- Time to event tab initiates an empty plot only.
![shiny app time to event 19052021](https://user-images.githubusercontent.com/11734167/118805265-04d3bf80-b8a6-11eb-9bc2-e93d7415ce25.png)

- In both characterization and compare cohort char. tabs, the names of the co

[2021-05-19 23:56] velvinnn opened #35 "Errors when connecting to the SQL server with DatabaseConnector"
Hi there, I have an error when trying to connect to the MS sql server with the following code:

dbms = Sys.getenv("DBMS")
##I also tried with dll with 32-bit system, but the error still occurs.
Sys.setenv("PATH_TO_AUTH_DLL" = "C:/Users/xxx/Documents/JDBC/sqljdbc_6.0/enu/auth/x64")
server = Sys.getenv("DB_SERVER")
pathToDriver <- if (Sys.getenv("PATH_TO_DRIVER") == "") NULL else Sys.getenv("PATH_TO

[2021-05-27 06:26] scossin commented on #35
According to [this stackoverflow post](https://stackoverflow.com/questions/6087819/jdbc-sqlserverexception-this-driver-is-not-configured-for-integrated-authentic), the error "this driver is not configured for integrated authentication" is caused by a missing **sqljdbc_auth.dll** in the system path.
Stackoverflow user Pavan suggests downloading this file from Microsoft site and put it in the Java/j

[2021-05-27 09:32] rfherrerac opened #36 "Error in charlson_map"
Error when running the study.

[errorReportSql.txt](https://github.com/ohdsi-studies/PioneerWatchfulWaiting/files/6552792/errorReportSql.txt)

[2021-05-31 07:42] #6 closed

[2021-05-31 07:43] #14 closed

[2021-05-31 11:51] MaximMoinat commented on #34
@bdemeulder I could not reproduce the last item by running the RShiny locally using the Task #3 Pre-merged data. So I expect that updating the RShiny app on the server will fix the issue.
![image](https://user-images.githubusercontent.com/17825660/120188954-0b075b80-c217-11eb-9128-735b9adbbc77.png)

[2021-05-31 11:52] MaximMoinat opened #38 "Time to event tab shows an empty plot"
![image](https://user-images.githubusercontent.com/17825660/120189189-50c42400-c217-11eb-8af8-e73b39c6058d.png)

Originally reported by Bertrand #34 .

[2021-05-31 11:57] MaximMoinat commented on #34
The first point, updating CohortsXref.csv should have been fixed with PR #31. Here also, I think updating the RShiny app on the [ShinyDeploy](https://github.com/OHDSI/ShinyDeploy/tree/master/PioneerWatchfulWaitingDiag). Last update there was 2 months ago.

I will close this issue and create separate issues.

[2021-05-31 11:57] #34 closed

[2021-05-31 12:00] MaximMoinat opened #39 "Update app on ShinyDeploy"
The last update of [the PIONEER WatchfulWaiting shiny app on ShinyDeploy](https://github.com/OHDSI/ShinyDeploy/tree/master/PioneerWatchfulWaitingDiag) was over two months ago. We should update the code there to fix some issues with the currently deployed app (see #34).

Do we want to do an intermediate update or wait for fixing the time to event plot #38?

[2021-05-31 12:01] MaximMoinat commented on #39
And who are authorised to do these updates? I know at least @keesvanbochove and @Anne0507 have access (and I do not).

[2021-06-02 08:50] bdemeulder commented on #39
I can commit the changes over to the ShinyDeploy server. It sometimes takes a while for someone at OHDSI to accept it.

[2021-06-02 11:08] #36 closed

[2021-06-02 11:09] bdemeulder commented on #36
Fixed with commit # 37

[2021-06-02 11:12] keesvanbochove commented on #39
Right @MaximMoinat I don't have push rights either (nor does Anne) but you
can always open a PR to OHDSI/ShinyDeploy.

On Wed, 2 Jun 2021, 10:51 bdemeulder ***@***.***> wrote:

[2021-06-02 15:11] bdemeulder commented on #39
Just updated the cohort.csv file.

[2021-06-02 15:18] bdemeulder commented on #38
With the version from the master branch locally, I get the following:
![shiny app time to event 02062021](https://user-images.githubusercontent.com/11734167/120506805-8c512080-c3c6-11eb-8298-781e025efebe.png)

[2021-06-02 15:20] bdemeulder commented on #39
The cohort tab now shows the right list of cohorts. I still get the following in the compare cohort characteristics tab
![Shiny app 02062021](https://user-images.githubusercontent.com/11734167/120507039-c3bfcd00-c3c6-11eb-8260-06b66fd59e38.png)

[2021-06-02 16:48] MaximMoinat commented on #39
I cannot replicate this issue on the current master branch. For me it displays the cohort names nicely. It used to work for me as well without the cohort.csv updates.
![image](https://user-images.githubusercontent.com/17825660/120519182-a2fd7480-c3d2-11eb-97e6-323a02733e56.png)

[2021-06-02 17:03] MaximMoinat commented on #38
I am trying to find out what the issue is. So far, what I found is that the `cohortTimeToEvent` object in the PreMerged data contains the columns:
![image](https://user-images.githubusercontent.com/17825660/120521200-f7095880-c3d4-11eb-8215-6a4f02732962.png)

while the code tries to subset columns n.censor and n.risk
https://github.com/ohdsi-studies/PioneerWatchfulWaiting/blob/3b8257e5f45028a505d9

[2021-06-07 08:08] bdemeulder commented on #39
@MaximMoinat  I've downloaded the master branch again and I still get the same issue.

Which data are you using?

[2021-06-07 09:16] MaximMoinat commented on #39
I am using the following file in Teams:
`Cohort testing -> Task #3 Second version of package -> Results ->
Premerged.RData`

On Mon, 7 Jun 2021 at 10:08, bdemeulder ***@***.***> wrote:

[2021-06-07 10:40] bdemeulder commented on #39
OK, with the same data I have the same result.
I was using the task #4 results that I've uploaded in teams ('Cohort testing/Task #4 Third version o fthe package/Results/PreMerged.Rdata')

My guess is that the list of cohorts between those datasets and the cohorts.csv in the shiny app don't match, hence the issue I had.

[2021-06-07 11:56] MaximMoinat commented on #39
I can confirm the issue is in the results file. Specifically, the `covariate` variable. So we should fix this in the study code. And maybe implement a quick fix to display the already collected results correctly in the shiny app.
![image](https://user-images.githubusercontent.com/17825660/121012313-e3c10900-c797-11eb-8673-e6352717d953.png)

[2021-06-07 11:57] MaximMoinat commented on #38
Same for the newest results (Task 4). There seem to be columns missing from the `cohortTimeToEvent` variable.
@Tsemharb Could you comment?

[2021-06-11 09:07] #39 closed

[2021-06-16 06:08] rfherrerac opened #43 "Error while doing runStudy"
After doing the cohort diagnostics, and then doing runStudy I got this error:
Error: Can't subset columns that don't exist.
x Column `name` doesn't exist.

<error/vctrs_error_subscript_oob>
Can't subset columns that don't exist.
x Column `name` doesn't exist.
Backtrace:
     █
  1. └─PioneerWatchfulWaiting::runStudy(...)
  2.   └─PioneerWatchfulWaiting:::loadCohortsForExportFromPackage(cohortIds =

[2021-06-16 12:07] rfherrerac commented on #43
[PioneerWatchfulWaiting.txt](https://github.com/ohdsi-studies/PioneerWatchfulWaiting/files/6662834/PioneerWatchfulWaiting.txt)

[2021-06-16 13:18] marek05 commented on #43
I got exactly the same error with the same error output on our dataset.

[2021-06-17 10:04] MaximMoinat commented on #43
Thanks @rfherrerac and @marek05 for reporting. It seems to be a different part of the code than we previously looked at, same function `loadCohortsForExportFromPackage` though that throws the error.

I will be working on a fix.

[2021-06-18 11:12] scossin commented on #43
I had the same error, I pulled the fix of @MaximMoinat and it worked !

[2021-06-18 13:45] bdemeulder opened #46 "Shiny app cohort characterization: cohort domain empty results"
In shiny app Cohort Characterization,
- the Cohort (Target) menu is only showing one cohort.
- When, I try to only select the domain 'Cohort', I get ' error: replacement has 1 row, data has 0'.

![shiny app issue cohort characterization 18062021](https://user-images.githubusercontent.com/11734167/122570283-e3542800-d04b-11eb-836a-e59380a28db5.png)

Here is the traceback:

![shiny app issue cohort

[2021-06-18 14:26] #43 closed

[2021-06-18 14:37] bdemeulder commented on #38
I guess we can close this as the new version does include the proper fields?

[2021-06-18 14:38] #38 closed

[2021-06-18 14:40] bdemeulder commented on #46
The data from Bordeaux does not have any lines with covariate_id = 10000 (e.g. cohorts), which causes the second issue above.
But, is that expected that there would not be those lines?

[2021-06-18 14:55] bdemeulder opened #47 "Negative values in metrics distributions"
As seen by Artem in shiny app
![shiny app issue metrics distribution18062021](https://user-images.githubusercontent.com/11734167/122580001-cae90b00-d055-11eb-8cc0-6fc8326d9d15.png)

This could be an error in how the number of days are substracted in the TimeToEvent or TimeToEventCombined SQL files?

[2021-06-18 15:29] scossin commented on #47
@keesvanbochove @MaximMoinat @Tsemharb @bdemeulder

I introduced this bug when mistranslating the DATEDIFF function that doesn't exist in Oracle: https://github.com/scossin/PioneerWatchfulWaiting/commit/5f3f4f5b1c85a05b0980866bd0a2e31034df10f9

[code]

[code]

It's my fault, we can close this issue.

[2021-06-18 17:22] scossin commented on #47
I confirm the bug was only on my side, after the fix: https://github.com/scossin/PioneerWatchfulWaiting/commit/842f91c214f18419f0ddb7f40c68c0d3cdbbd1b4
It's much better

![FixDateDiff](https://user-images.githubusercontent.com/22571177/122596638-77cd8300-d06a-11eb-9ab4-8abf516318ab.png)

[2021-06-21 09:34] #47 closed

[2021-06-21 11:07] #35 closed

[2021-06-21 11:11] bdemeulder commented on #46
Closing this issue as it is related to Bordeaux data only.

[2021-06-21 11:11] #46 closed

[2021-06-21 11:15] bdemeulder opened #48 "Shiny app time to event plot and table"
When looking at time to event plots and table, the order of the outcomes in the plot and in the table is wrong when all plot choices are selected, but is right when a different number of plots is selected (from 1 to N-1).

All selected:
![shiny app time to event order of plots all selected 21062021](https://user-images.githubusercontent.com/11734167/122753536-b180d280-d292-11eb-9aec-d055829e27f1.p

[2021-06-24 18:54] peterprinsen-iknl opened #50 "Missing alias in 104.sql"
[errorReportSql error 1.txt](https://github.com/ohdsi-studies/PioneerWatchfulWaiting/files/6711538/errorReportSql.error.1.txt)

See error report: line 698 in 104.sql seems to be missing an alias. It probably needs a C at the end of the line.

[2021-06-24 18:55] peterprinsen-iknl opened #51 "End-of-Text (ETX) in 104.sql"
[errorReportSql error 2.txt](https://github.com/ohdsi-studies/PioneerWatchfulWaiting/files/6711541/errorReportSql.error.2.txt)

There are 2 ETX (End-of-Text characters) at the end of line 1232 in 104.sql. These need to be removed (otherwise the code crashes).

[2021-06-24 18:58] peterprinsen-iknl opened #52 "error with union in episode table in 112.sql"
[errorReportSql error 3.txt](https://github.com/ohdsi-studies/PioneerWatchfulWaiting/files/6711548/errorReportSql.error.3.txt)

on line 570 in 112.sql select po.* probably needs to be changed in select po.person_id, po.procedure_occurrence_id, po.procedure_date,DATEADD(d,1,po.procedure_date) as END_DATE, po.procedure_concept_id, po.visit_occurrence_id (as was done in 105.sql)

[2021-06-24 18:59] peterprinsen-iknl opened #53 "error with union in episode table in 106.sql"
[errorReportSql error 4.txt](https://github.com/ohdsi-studies/PioneerWatchfulWaiting/files/6711563/errorReportSql.error.4.txt)

select po.* on line 775 in 106.sql should probably changed to select po.person_id, po.procedure_occurrence_id, po.procedure_date,DATEADD(d,1,po.procedure_date) as END_DATE, po.procedure_concept_id, po.visit_occurrence_id (like in 105.sql)

[2021-06-24 19:00] peterprinsen-iknl opened #54 "codemeta.json doesn't exist"
[cohortDiagnosticsLog.txt](https://github.com/ohdsi-studies/PioneerWatchfulWaiting/files/6711568/cohortDiagnosticsLog.txt)

See log file, runCohortDiagnostics wants to write to diagnostics/codemeta.json but cannot open file

[2021-06-25 07:38] bdemeulder commented on #54
@MaximMoinat @denyskaduk I'm not sure how to fix this one.

[2021-06-25 11:41] MaximMoinat commented on #54
Will look into it.
@peterprinsen-iknl This is not a blocking thing, as it just adds metadata. For now, you can manually zip the files in NCR/diagnostics and share the results.

[2021-06-25 11:55] #50 closed

[2021-06-25 11:55] #51 closed

[2021-06-25 11:55] #52 closed

[2021-06-25 11:55] #53 closed

[2021-06-25 15:07] peterprinsen-iknl opened #56 "hard coded table in TimeToEventCombined.sql in episode branch"
TimeToEventCombined.sql has a hardcoded table on line 8, this issue seems to be solved in the main branch

[2021-06-25 15:27] peterprinsen-iknl opened #57 "hard coded table in quartiles/IQRComplementaryTables.sql in episode branch"
see line: pioneer_sp should be @cohort_database_schema.@cohort_table, is fine in main branch

[2021-06-25 15:46] peterprinsen-iknl opened #58 "wrong reference to charlson_map in quartiles/IQRComplementaryTables.sql in episode branch"
line 291 should be @cohort_database_schema.charlson_map instead of charlson_map (this is ok in the main branch but still incorrect in the episode branch)

[2021-06-26 10:22] keesvanbochove commented on #54
What version of the `codemetar` package do you have installed @peterprinsen-iknl?
It's supposed to use the pkg argument to find the package and use the path argument for file name, but from your output it looks like both are concatenated to create the file name. (see https://github.com/ohdsi-studies/PioneerWatchfulWaiting/blob/94ab4ef00a74b72c30b19f9d68049b7b8f745d2c/R/CohortDiagnostics.R#L117, we

[2021-06-26 10:28] keesvanbochove commented on #54
Update: looking at the source code, `codemetar` actually seems to be expecting that we only write this JSON metadata directly to the package it refers to. Which makes sense in a way, the package metadata shouldn't change if you don't the change the package. Maybe it's better if we leave this code out and either copy the existing codemeta if we want to supply the full metadata, or write a simpler J

[2021-06-28 11:20] #54 closed

[2021-07-02 13:15] #58 closed

[2021-07-02 13:15] bdemeulder commented on #58
Fixed in master branch.

[2021-07-02 13:16] bdemeulder commented on #57
Fixed in master branch.

[2021-07-02 13:16] #57 closed

[2021-07-02 13:16] bdemeulder commented on #56
Fixed in master branch.

[2021-07-02 13:16] #56 closed

[2021-07-02 16:13] scossin opened #60 "OMOP.episode (103.sql) : SQL Error: ORA-00942 table or view does not exist"
The errors occurs here:

https://github.com/ohdsi-studies/PioneerWatchfulWaiting/blob/ca047952645cd576ab9bd1137bff0a3af3627511/inst/sql/sql_server/103.sql#L565

My sql is translated like this:
[code]

The episode table is an OMOP extension: https://ohdsi.github.io/CommonDataModel/oncology.html
The SQL code seems to check if the table exists or not:
https://github.com/ohdsi-studies/PioneerWatchfulW

[2021-07-02 16:35] scossin commented on #60
As a temporary fix, I hardcoded episodetable=FALSE in CohortConstruction.R and it worked:
https://github.com/scossin/PioneerWatchfulWaiting/commit/9359fb865a3d3da0cf27dda0030fd46454d365d1

[2021-07-02 16:51] scossin opened #61 "columns don't exist - 105.sql : ORA-00904: invalid identifier"
I have a java.sql.SQLSyntaxErrorException: ORA-00904: "C"."PROCEDURE_DATE" : invalid identifier

The error occurs here:
https://github.com/ohdsi-studies/PioneerWatchfulWaiting/blob/ca047952645cd576ab9bd1137bff0a3af3627511/inst/sql/sql_server/105.sql#L721

My translated SQL:
[code]
When I execute manually to see all the columns in the C table:
[code]
There are only colums from the OMOP.DRUG_EXPOSUR

[2021-07-02 17:07] scossin opened #62 "Inclusion_4 (103.sql) - ORA-00955: name is already used by an existing object"
Peter reported this issue and I encountered it too:
![peter_103_issue](https://user-images.githubusercontent.com/22571177/124307757-8dfa3980-db68-11eb-827b-9aaddafeaa0c.png)

According to Bertrand:

[2021-07-07 16:26] keesvanbochove commented on #62
This is a temporary table that should be dropped in the same script. Perhaps it is caused by an earlier script that was interrupted? For a new full run, you can DROP SCHEMA <your-cohort-schema> CASCADE (PostgreSQL syntax) and that should resolve this issue.

[2021-07-07 16:27] keesvanbochove commented on #61
This should be fixed with #63

[2021-07-07 16:29] keesvanbochove commented on #60
This is fixed with #63.

[2021-07-07 16:29] #60 closed

[2021-07-08 11:41] marek05 opened #64 "Issue with cohort id-s"
Issue what I noticed:

During target cohort creation log says:

When it gets to strata cohorts then log says:

....

Basically 334, 335, 336 cohorts are already made during the Target cohorts part.

In target cohorts list there are newer cohorts:

https://github.com/ohdsi-studies/PioneerWatchfulWaiting/blob/master/inst/settings/CohortsToCreateTarget.csv#L22

name | atlasName | atlasId | cohortId
-

[2021-07-08 11:49] #61 closed

[2021-07-08 11:50] #62 closed

[2021-07-08 11:55] bdemeulder commented on #64
So there is a discrepancy between the inst/settings/CohortToCreateTarget.csv and the inst/setting/diagnostics/CohortsToCreateTarget.csv.

@denyskaduk, could we just change their name from 334:338 to 121:125?

[2021-07-08 17:13] peterprinsen-iknl opened #65 "codemeta error in runStudy in episode branch"
I get the following error in the runStudy function when I run the episode branch:

Warning: cannot open file 'C:/R/R-4.0.4/library/PioneerWatchfulWaiting/C:\Users\ppr2001.53019\OneDrive - IKNL\Pioneer\Studyathon 2021\project\output\NCR/codemeta.json': Invalid argument
Error in file(con, "w") : cannot open the connection

[PioneerWatchfulWaiting.txt](https://github.com/ohdsi-studies/PioneerWatchful

[2021-07-10 07:23] rfherrerac opened #66 "Error in runStudy"
Backtrace:
 1. PioneerWatchfulWaiting::runStudy(...)
 2. PioneerWatchfulWaiting:::createBulkCharacteristics(...)
 3. DatabaseConnector::executeSql(connection = connection, sql = sql)
 4. base::tryCatch(...)
 5. base:::tryCatchList(expr, classes, parentenv, handlers)
 6. base:::tryCatchOne(expr, names, parentenv, handlers[[1L]])
 7. value[[3L]](cond)
 8. DatabaseConnector:::.createErrorReport(...)

[2021-07-10 07:24] rfherrerac commented on #66
<error/rlang_error>
Error executing SQL:
java.sql.SQLException: [Amazon](500310) Invalid operation: syntax error at or near "#"
Position: 22;
An error report has been created at  /home/ronald/errorReportSql.txt
Backtrace:
 1. PioneerWatchfulWaiting::runStudy(...)
 2. PioneerWatchfulWaiting:::createBulkCharacteristics(...)
 3. DatabaseConnector::executeSql(connection = connection, sql = sql)
 4. ba

[2021-07-10 07:28] rfherrerac commented on #66
Maybe it is in the BulkCharacerization.sql line 172. Extra space.

[2021-07-12 11:22] bdemeulder commented on #64
@keesvanbochove Just let me know if you don't have time to fix this one, then I will do it.

[2021-07-12 21:40] keesvanbochove commented on #65
@peterprinsen-iknl this should be fixed in the newest version of the episode branch.

[2021-07-13 08:19] #66 closed

[2021-07-13 08:19] bdemeulder commented on #66
Corrected the BulkFeatureExtraction.sql file.

[2021-07-13 08:21] #65 closed

[2021-07-13 08:48] keesvanbochove commented on #64
@bdemeulder I can work on it tomorrow afternoon or Thursday, but we also have to check the actual cohort definitions against these lists. For example, cohort 338 is both listed in CohortsToCreateTarget and CohortsToCreateStrata, but 338.sql can only be one of those - does the query create a target cohort with PCa patients or is it a COPD stratum cohort? Looking at the concept codes, I'm pretty sur

[2021-07-19 11:58] bdemeulder opened #67 "No survminer package in shiny app on server"
In the shiny app on the shiny server there seems to be a dependency missing
![Missing package in shiny app 19072021](https://user-images.githubusercontent.com/11734167/126156533-ba375c63-2ca2-411e-8c10-14235740559f.png)

[2021-07-19 14:43] bdemeulder commented on #67
So survminer is not available on the server, this is not an issue on the package end. @keesvanbochove is enquiring how to update the server.

[2021-07-20 07:34] bdemeulder commented on #64
The cohort lists are updated and checked.

[2021-07-20 07:34] #64 closed

[2021-07-22 15:07] golozara opened #68 "issues observed in the new Results"
few observations so far based on the results uploaded in the ShinyApp that needs to be fixed:
1) we have a category/strata showing as: gender=    .  Needs to be taken out
2) age at diagnosis statistics is **missing**  in the results.

[2021-07-22 15:12] keesvanbochove commented on #68
I hope that these issues are fixed with https://github.com/ohdsi-studies/PioneerWatchfulWaiting/commit/862e1cd76d642ff8dd45e16b90c76068ab83c634 but we will have to test that

[2021-07-27 05:27] golozara opened #69 "addional issues in the results uploaded to the ShinyApp"
Few additional issues based on reviewing the results:

**1. we are missing the pre-index time window (-365 to -1 day).** We need to have this for description of the baseline characteristics. We have to check this. If this is not included in the package, we need to add that and send the updated version for execution
2. The following target cohorts are missing: T2a, T4, T4a and T5
3. We have strata

[2021-07-27 10:01] rfherrerac opened #70 "Issue runStudy.R unique(cv) crash R"
in the runStudy.R file,
line 331 "cv <- unique(cv)" when it is a large data set, like MkScan, that part makes R crash.
Suggestion:

library(data.table)
#setDTthreads(4)
cv <- data.table::fread(file.path(exportFolder, "covariate_value.csv"))
 cv <- unique(cv)
 writeToCsv(cv, file.path(exportFolder, "covariate_value.csv"), incremental = FALSE)

[2021-07-28 11:30] keesvanbochove commented on #68
Issue 1 is not blocking but we can have a look, may also be related to the unique bug #70
Issue 2: @rfherrerac could you check the first SQL statement in `inst\sql\sql_server\quartiles\IQRComplementaryTables.sql` using https://data.ohdsi.org/SqlDeveloper to see what is going on?

[2021-07-28 11:31] #67 closed

[2021-07-28 11:32] keesvanbochove commented on #48
@bdemeulder this may be fixed by #71

[2021-07-29 11:05] keesvanbochove opened #73 "CohortDiagnostics"
Previous version of CohortDiagnostics was 2.0.0.

The current version of CohortDiagnostics is 2.1.0, but this version has a declared dependency on R 4, and some data partners are still on R 3. Currently @rfherrerac is testing this fork to see if we can backport CohortDiagnostics to R 3: https://github.com/thehyve/CohortDiagnostics/blob/backport21_r3/DESCRIPTION

[2021-07-29 12:31] keesvanbochove commented on #70
@rfherrerac could you try the version from PR #74 `devtools::install_github("ohdsi-studies/PioneerWatchfulWaiting",ref="use_data_table_for_unique")`?

[2021-07-29 12:37] MaximMoinat commented on #69
As discussed in meeting on July 29th.
Point 2: No cohort counts in the results for cohorts T2a, T4, T4a and T5. These are not exported to the results file and therefore these cohorts do not show up in the shiny app.

Point 3: strata 320 and 327 have commas in their concept name. These will be removed.

[2021-07-29 12:50] keesvanbochove commented on #69
Actually I believe the real issue was that strata 320 and 327 had a misplaced comma and was fixed before (see https://github.com/ohdsi-studies/PioneerWatchfulWaiting/commit/e84135dc6135992a9014a2affab9ddd572d5b82a) but it probably can't hurt to remove the commas completely.

[2021-07-29 13:07] keesvanbochove commented on #69
So all these issues should be resolved in the latest master version @golozara - any way you can test this in a database where you did see at least some matching patients in any of those cohorts (for issue number 2 above)?

[2021-07-29 14:06] bdemeulder commented on #48
Confirm fixed.

[2021-07-29 14:06] #48 closed

[2021-07-30 10:40] keesvanbochove commented on #73
This seems to work according to Ron, the following command would install this backport version:
`devtools::install_github("thehyve/CohortDiagnostics",ref="backport21_r3")`
and depending on which packages are installed, also the following commands may be needed:
[code]

[2021-07-30 10:40] #73 closed

[2021-07-30 10:40] #70 closed

[2021-07-30 10:50] keesvanbochove commented on #68
When I test the generation of age statistics for issue 2 in a Postgres Synthea database, it works:
[code]
generates a table `pioneer.subject_age` with calculated age at cohort start.

[2021-07-30 12:32] keesvanbochove commented on #68
I tried to test this as best as possible, by tricking runStudy into viewing my outcome cohorts as target cohorts (since I don't have counts in any target cohort from my synthetic database). Age at diagnosis does show up in the metrics distribution results:
[code]

My best guess is that the specific Oracle SQL generated has some bug that leads to the resulting `subject_age` table being empty, need

[2021-07-30 12:33] #69 closed

[2021-07-30 14:14] rfherrerac commented on #68
I figured we have no info  MONTH_OF_BIRTH DAY_OF_BIRTH, all is NA.  @keesvanbochove your code did not work for that reason.  In my system, this script worked, but I am a pretty bad programmer in SQL ;)

"DROP TABLE IF EXISTS @cohort_database_schema.subject_age;
CREATE TABLE @cohort_database_schema.subject_age AS
SELECT tab.cohort_definition_id,
       tab.person_id,
       tab.cohort_start_date,

[2021-07-30 14:59] keesvanbochove commented on #68
@rfherrerac thanks, that makes sense, when I try it in Postgres with `SELECT c.cohort_definition_id, p.person_id, c.cohort_start_date, p.year_of_birth, NULL as month_of_birth, NULL as day_of_birth` then the outer query throws an error: `function to_char(text, unknown) does not exist`. But if I use `0 as month_of_birth, 0 as day_of_birth` then it works fine.

If most databases don't have this infor

[2021-07-30 15:16] keesvanbochove commented on #68
So what we could do is catch both and use the following "OHDSI SQL":
[code]
@rfherrerac could you try this in your database? In Oracle the SELECT part would become something like this through SqlRender:
[code]

[2021-07-30 15:22] rfherrerac commented on #68
@keesvanbochove Yes, it worked.

[2021-08-02 08:54] peterprinsen-iknl opened #75 "Error: cannot open file for writing: * '...\CreatedDiagnostics.csv'"
I get an error in runCohortDiagnostics:
Cannot open file for writing: * 'C:\Data\PIONEER\studyathon\output\NCR\RecordKeeping\CreatedDiagnostics.csv' (see attached  log file).

I cannot really figure out what is going on. The file exists so that shouldn't be the problem. The bundled results file is created but it doesn't seem that all csv files are there (in the zip file but also in the results fol

[2021-08-02 09:15] peterprinsen-iknl commented on #75
I get the same error with version 0.4.3. My suspicion is that it has something to do with the fact that we don't have visits in our OMOP-CDM because it happens in getVisitContect.

[2021-08-09 10:47] rfherrerac opened #76 "Error while running runStudy.R"
I got an error while doing runStudy().
After

Error in `colnames<-`(`*tmp*`, value = SqlRender::camelCaseToSnakeCase(colnames(data))) :
  attempt to set 'colnames' on an object with less than two dimensions

[PioneerWatchfulWaiting.txt](https://github.com/ohdsi-studies/PioneerWatchfulWaiting/files/6953846/PioneerWatchfulWaiting.txt)

[2021-08-17 14:57] keesvanbochove commented on #75
Hello @peterprinsen-iknl, this is a bit curious indeed - could it be that you had this file open in an editor and therefore the file system wouldn't let R (re)create the file? See https://docs.microsoft.com/en-us/troubleshoot/windows-server/backup-and-storage/cannot-delete-file-folder-on-ntfs-file-system for possible reasons - some edge cases would include if a folder exists with that exact name.

[2021-08-18 14:43] marek05 opened #77 "Issue with runstudy function (fread_csv)"
I run the version v0.4.3 and encountered an issue with a function:

        Error: 'fread_csv' is not an exported object from 'namespace:data.table'

The issue is with this line and I think there should be "fread" not "fread_csv"
https://github.com/ohdsi-studies/PioneerWatchfulWaiting/blob/366c4cfa602cc73b7474e8424c1edd72ba0de259/R/RunStudy.R#L383

[2021-08-18 16:11] keesvanbochove commented on #77
@marek05 thanks for reporting that, could you try again with the current master branch version?

[2021-08-19 13:44] marek05 commented on #77
Thanks. master branch is working correctly. I could run the package successfully.

[2021-08-23 14:08] #77 closed

[2021-08-23 14:08] #76 closed

[2021-08-30 18:20] Jake-Gillberg opened #79 "Errors running `runCohortDiagnostics`"
[console_log.txt](https://github.com/ohdsi-studies/PioneerWatchfulWaiting/files/7078634/console_log.txt)

[console_log_errors.txt](https://github.com/ohdsi-studies/PioneerWatchfulWaiting/files/7078647/console_log_errors.txt)

[sql_error.txt](https://github.com/ohdsi-studies/PioneerWatchfulWaiting/files/7078649/sql_error.txt)

These errors are confounding me. Looks like it is propagating up from Co

[2021-09-02 14:47] marek05 opened #80 "Issue with cohort PIONEER T3.2a"
In cohort "[PIONEER T3.2a] PCa low risk grade conservative management and no intense monitoring broad" (cohortId=108) there is a issue with missing concept sets.
I think there shouldn't be "Any Measurement" and "Any Observation" but instead PSA concept sets like in  In cohort PIONEER T3.2 (cohortId=107).

![pilt](https://user-images.githubusercontent.com/5746002/131839080-00810aee-ac05-4da9-81df-a

[2021-09-03 10:54] keesvanbochove commented on #80
Good catch @marek05! Asieh also noticed this cohort was empty in all databases. I have updated the definition in ATLAS and also pulled this into the master branch: https://github.com/ohdsi-studies/PioneerWatchfulWaiting/commit/423661b6b55168f33dcb954e2698dde79bb39870

[2021-09-03 11:00] #80 closed

[2021-09-03 13:13] andrepist opened #82 "issue with cohorts"
Hi, while running the cohort Diagnostics I have the following error:
Error when running CohortDiagnostics::runCohortDiagnostics on CohortGroup: target
Error in CohortDiagnostics::runCohortDiagnostics(packageName = getThisPackageName(), : All cohorts were either not instantiated or all have 0 records.

Since it was catched I continued executing the package and I got:
 Error: 'C:\...\GitHub\PioneerW

[2021-09-03 16:46] keesvanbochove commented on #82
Hi @andrepist thanks for running the package! A few questions to clarify:
* What type of SQL database are you using (Postgres, SQL Server, Oracle etc.)?
* Can you share the content of `C:/Users/apistillo/Documents/GitHub/PioneerWatchfulWaiting-master/errorReportSql.txt` ?
* Did you install v0.4.3.2 or the current master branch?

Indeed it seems like the target cohort creation was unsuccessful and

[2021-09-06 07:21] andrepist commented on #82
Hi @keesvanbochove ,

- I use Postgres
-  [errorReportSql.txt](https://github.com/ohdsi-studies/PioneerWatchfulWaiting/files/7114032/errorReportSql.txt)
- I did install the current master branch.

I'm not sure how to execute the SQL command produced in a SQL browser... With this new information do you have an idea of what happened?

[2021-09-06 09:56] keesvanbochove commented on #82
@andrepist thanks, after reviewing the SQL error report it looks to me like `vocabulary_database_schema` is not populated. Which value did you provide for the `cohortDatabaseSchema` argument when invoking `runCohortDiagnostics` and `runStudy`?

[2021-09-06 10:09] andrepist commented on #82
@keesvanbochove I kept the script as it is there:
runCohortDiagnostics(connectionDetails = connectionDetails,
                     cdmDatabaseSchema = cdmDatabaseSchema, ...
and in the definition of cdmDatabaseSchema I put our db schema.

May be a problem of cohort definition?

[2021-09-06 10:19] keesvanbochove commented on #82
@andrepist in the log, I see `select concept_id from .CONCEPT where concept_id in (4163261)`. Right before `.CONCEPT`, the value of the `vocabulary_database_schema` is inserted by SqlRender, and this is set to the same as `cdmDatabaseSchema` (https://github.com/ohdsi-studies/PioneerWatchfulWaiting/blob/423661b6b55168f33dcb954e2698dde79bb39870/R/CohortConstruction.R#L379). So it looks like your val

[2021-09-06 10:41] andrepist commented on #82
@keesvanbochove yes, I defined it in the script, it shoud not change.
I do have access, I can try but I'm not very familiar with that, but I can try of course!
Thank you

[2021-09-07 12:52] keesvanbochove opened #83 "Create function to change strata id into names in the merged covariate results"
Right now, strata are identified by their id (e.g. `Cohort during day 0 through 365 days overlap the index: 331`), replace this by the name (Hypertension in this case)

Assignees:
Labels:

[2021-09-07 12:55] keesvanbochove commented on #83
Same with feature_proportions.csv

[2021-09-10 08:40] peterprinsen-iknl commented on #75
I am getting the error earlier on in the script now, with the file InstantiatedCohorts.csv. Tim Hulsen helped me debug and it seems to be an issue with readr::read_csv in Incremental.R. If you read the documentation on https://readr.tidyverse.org/reference/read_delim.html it states: "Note, if you later write to the same file you read from you need to set lazy = FALSE. On Windows the file will be l

[2021-09-13 14:09] keesvanbochove commented on #82
OK so we looked at this together, and it seems like none of the patients in the database have procedure codes matching the PCa biopsy concept set, which is causing all of the target cohorts to show up empty.

[2021-09-13 15:06] keesvanbochove opened #84 "Negative time to event values for 3 target cohorts"
The current time to event generation feature (which fits a survival curve over several combinations of target/strata cohorts vs outcome cohorts) generates up to -180 days negative values in 3 cohorts (and their strata permutations):
* [PIONEER T2] PCa treated right away
* [PIONEER T3] PCa under conservative management
* [PIONEER T3a] PCa under conservative management_broad

It seems that the outco

[2021-09-15 10:57] #82 closed

[2021-09-15 10:59] keesvanbochove commented on #84
<img width="1408" alt="problem" src="https://user-images.githubusercontent.com/373418/133421584-5e0840d6-5e39-43aa-ba56-98544748c1d2.PNG">
As visible in this screenshot, these cohorts (T2 in this case) sometimes seem to generate entries where the end date is before the start date. Combined with the fact that TimeToEvent.sql takes the max of the target cohort end dates in cases where there is no ma

[2021-09-15 11:05] #68 closed

[2021-09-15 14:53] tseto opened #85 "Getting a 'Resources exceeded during query execution' error during stratification step"
Hello,

I’m trying to run through the PioneerWatchfulWaiting code. The 38 target cohorts were create successfully as well as the 7 feature cohorts.

I’m getting this error during the stratified target cohort step, query is too complex. We’re running against Google Cloud BigQuery.  The log doesn’t indicate which SQL file is being run. Can you let me know which file so I can take a look at the query

[2021-09-15 15:19] Jake-Gillberg commented on #79
Was this the fix for the issue? https://github.com/ohdsi-studies/PioneerWatchfulWaiting/commit/65fd63d2758016329294e2e871c671204066fbc4

[2021-09-16 12:28] keesvanbochove commented on #85
The SQL query in question would be: https://github.com/ohdsi-studies/PioneerWatchfulWaiting/blob/master/inst/sql/sql_server/strata/StratifyByCohort.sql. You can generate the exact SQL by using https://data.ohdsi.org/SqlDeveloper/, pasting the above file in there, selecting BigQuery and filling in the settings you are using).

Another option could be to review the BigQuery query log - I only know h

[2021-09-16 12:53] keesvanbochove commented on #79
@Jake-Gillberg thanks for following up, it looks like I was a bit too fast with closing this. I had assumed that it was related to #78 but looking at the error logs this seems to be a different issue. It seems the offending query is in https://github.com/OHDSI/CohortDiagnostics/blob/master/inst/sql/sql_server/ComputeIncidenceRates.sql, so this would actually be an issue to raise in CohortDiagnosti

[2021-09-16 12:55] keesvanbochove commented on #83
See commit d28af13aa3ff92f15b3b9175a16cfbbb4433f904

[2021-09-16 17:58] Jake-Gillberg commented on #79
Any thoughts on if these errors have impacted the results we sent? The run was able to recover successfully after encountering them. I'll potentially be able to dig into this further next week

[2021-09-19 23:43] tseto commented on #85
There seems to be some limitations with BQ. Rewriting queries may help.

https://cloud.google.com/bigquery/quotas

[2021-09-20 18:31] tseto commented on #85
Modifying my local copy of StrataConstruction.R to create a record and select unnest will work better in BigQuery than thousands of union statements.

SELECT *
FROM UNNEST(ARRAY<STRUCT<target_id INT64, strata_id INT64, cohort_id INT64, cohort_type STRING>>
[(105, 338, 105003382, 'TwoS'),
(106, 338, 106003382, 'TwoS')...

[2021-09-20 18:31] #85 closed

[2021-09-20 21:05] keesvanbochove commented on #85
@tseto could you contribute a PR with this fix? I'd like to test it in other database systems as well.

[2021-09-22 22:47] tseto commented on #85
Records and STRUCT are BigQuery-specific syntax.

sql <- "CREATE TABLE #TARGET_STRATA_XREF AS
          SELECT *
          FROM UNNEST(ARRAY<STRUCT<target_id INT64,
                                   strata_id INT64,
                                   cohort_id INT64,
                                   cohort_type STRING>>
          [
            @records
          ]);"
  records <- "";
  for(i in

[2021-09-28 09:51] #83 closed

[2021-09-30 14:56] MaximMoinat commented on #84
Issue is in adding a fixed amount of days (180 or 548) to the cohort `start_date`. The cohort `end_date` could be within those days.

https://github.com/ohdsi-studies/PioneerWatchfulWaiting/blob/8e40ba3525109c01ea429df1d6e888b67388b864/inst/sql/sql_server/104.sql#L1196

[2021-09-30 16:27] MaximMoinat commented on #84
The proposed fix in #86 will remove persons that might be eligible. In case a person has a censoring event (e.g. malignancy) before the offset index date, then this person will have a cohort_end before it. But only after this offset index date it should run.

The `DATEADD` should be here:
https://github.com/ohdsi-studies/PioneerWatchfulWaiting/blob/081d70955c318074cb470615b2cc36cb7e93a7f7/inst/sql

[2021-10-01 21:47] keesvanbochove commented on #84
See discussion under #86 and #87, for now have added in the fix from #86.

[2021-10-01 21:47] #84 closed

[2021-10-01 22:10] keesvanbochove commented on #79
I'm closing this issue here is is actually raised in CohortDiagnostics (see link above), so it should be filed there if it persists: https://github.com/OHDSI/CohortDiagnostics/issues.

To answer your last question: It would show up in the cohort diagnostics results as missing incidence rates for some cohorts, but this may not be a big deal (the cohort in the attached log, 301 is a strata cohort fo

[2021-10-01 22:10] #79 closed

[2021-10-01 22:13] keesvanbochove commented on #75
@peterprinsen-iknl this should be fixed in the newest version, because Incremental.R is changed to use fread instead of read.csv. Could you try re-running with this newest version? It should also run a bit faster.

[2021-10-01 22:13] #75 closed

[2021-10-04 09:06] peterprinsen-iknl commented on #75
@keesvanbochove this seems to work. No errors on the small data set. I will now run it on the full data set.

[2021-10-04 10:54] bdemeulder opened #89 "Shiny app v0.4.4 - cohort characterization & cohort comparison empty"
The tables in cohort char and compare cohort char are empty in the newest version of the package, using the PreMerge data available in teams.

![Shiny app 04102021](https://user-images.githubusercontent.com/11734167/135839035-e6122629-5971-4df2-96f6-1bca0d6768bf.png)

The error says "the replacement table has 1 line, the replaced table as 0".

Attaching traceback as well.
![Shiny app 04102021- tra

[2021-10-04 10:57] bdemeulder opened #90 "Shiny app v0.4.4 - legend in time to event"
The colors in the time to event analysis don't match between the figure and the table below.

![Shiny app 04102021 - time to event](https://user-images.githubusercontent.com/11734167/135839805-3cf1265e-9825-4dd8-8d02-cada78d6535a.png)

[2021-10-05 08:33] SofiaMp opened #91 "RunStudy Error"
When trying to RunStudy at the 'Bulk characterisation of all cohorts for all time windows' step I get the error:
[code]

[2021-10-06 10:27] keesvanbochove commented on #89
Looks like this is caused by https://github.com/ohdsi-studies/PioneerWatchfulWaiting/commit/d865b1984a790da3b3498f500c5a5362c1578be0, fread sees the covariateId column as double while read.csv interpreted as string. As a result global.r:139 no longer works.
Possible fix:
`covIdsAsString <- as.character(covariate$covariateId)
  covariate$windowId <- as.numeric(substr(covIdsAsString, nchar(covIdsAsS

[2021-10-06 17:08] tseto opened #92 "Error in generating metrics distribution"
Error executing SQL:
java.sql.SQLException: [Simba][BigQueryJDBCDriver](100032) Error executing query job. Message: Unrecognized name: `<gcp_project>.<dataset>` at [17:8]
An error report has been created at  /home/ohdsi/workdir/notebooks/errorReportSql.txt
Backtrace:
 1. PioneerWatchfulWaiting::runStudy(...)
 2. DatabaseConnector::renderTranslateExecuteSql(...)
 3. DatabaseConnector::executeSql(..

[2021-10-14 12:07] #89 closed

[2021-10-19 09:20] bdemeulder opened #94 "Error in Cohort Characterization tab"
In the shiny app cohort characterisation, there seems to be an error in parsing the results.
![image](https://user-images.githubusercontent.com/11734167/137880157-60c06876-df5c-4bf7-9e70-17a35d10be43.png)

Further, when looking only at the demographics domain, it seems the rows are replicated many times in the table (e.g. more than 170 occurences of gender=male)

![image](https://user-images.githu

[2021-11-09 09:44] keesvanbochove commented on #94
@bdemeulder could you upload the new merged set to the OHDSI server so this could be fixed online as well?

[2021-11-09 10:06] keesvanbochove commented on #91
This would suggest that there are no target or strata cohorts with more than the minimum subject amount (140 subjects). Obviously, would be better if the package didn't raise and error and produced a more meaningful warning message, but a workaround could be to disable bulk characterization (supply `useBulkCharacterization = FALSE` as argument to runStudy).

[2021-11-09 11:58] bdemeulder commented on #94
@keesvanbochove , I've updated the merged set and created a pull request on shiny deploy to trigger the update. Could you approve it?

[2021-11-09 15:33] sratwani opened #96 "Error in `colnames<-` when attempting to execute runStudy()"
Here is the complete error: This error occurs while the code is attempting to 'Extract feature counts'

Error in `colnames<-`(`*tmp*`, value = SqlRender::camelCaseToSnakeCase(colnames(data))) :
  attempt to set 'colnames' on an object with less than two dimensions

[2021-11-15 12:12] #94 closed

[2021-11-15 12:21] keesvanbochove commented on #96
It's possible this error is thrown on line https://github.com/ohdsi-studies/PioneerWatchfulWaiting/blob/0809aced8602745a066fabb20dce6ea7af27d378/R/RunStudy.R#L265, but then this would suggest that cohort_count.csv was not read in correctly. Will probably need to interactively debug this to figure out what is going on...

[2021-11-17 14:56] keesvanbochove opened #97 "Use Cyclops instead of survival package for s"
Currently, the survival package is used for survival model fits:

https://github.com/ohdsi-studies/PioneerWatchfulWaiting/blob/574bf2d925f60e50d88486cca391f2d0b57b54ce/R/GenerateSurvival.R#L27

Given the number of models (target / strata x outcome cohorts) this is a significant part of the runStudy execution time, which could potentially be improved by using the [Cyclops](https://github.com/OHDSI/

[2021-11-29 12:48] thulsen commented on #90
Proposed solution is at https://github.com/OHDSI/ShinyDeploy/pull/141

[2021-11-29 12:57] #90 closed

[2021-12-02 15:50] keesvanbochove commented on #91
Perhaps a better workaround will be to adjust the minimum subject count to be lower, for instance 20 subjects?

[2021-12-17 11:11] bdemeulder opened #98 "Large file in memory"
As per Martijn Schuemie's comment on shiny deploy: https://github.com/OHDSI/ShinyDeploy/issues/148#issuecomment-996619402

Keeping 11GB in memory is not ok. Either use the file system or a database to hold the data, and only load what you're displaying, when you're displaying it.

My understanding is that we are using the file system to hold the data (by uploading the preMerge to the S3 server), a

[2021-12-17 11:35] schuemie commented on #98
The premerge file is a single file with all data in it. When you load it, you load it all (into memory).

The solution implemented in the CohortDiagnostics Shiny app is to use a database backend instead of the premerge file when data become too large. [Here](https://github.com/OHDSI/CohortDiagnostics/blob/master/R/ResultsDataModel.R#L301)'s the code one can use to upload the data. There's an OHDSI

[2022-01-10 10:56] bdemeulder opened #99 "Java error in runStudy"
In Open Claims data, Steven got this issue (data is in AWS redshift)

He did not cancel the request, the code loses the connection somehow:

![image](https://user-images.githubusercontent.com/11734167/148753433-1ea68e2a-a406-473e-abb8-c11d44810341.png)

[2022-01-10 11:55] MaximMoinat commented on #99
@bdemeulder Did he manage to reproduce the problem? Any clues what might cause a drop in connection? (e.g. other services running against the database, routine restart of the server, etc.)

[2022-01-10 11:59] bdemeulder commented on #99
@MaximMoinat, Steven says he tried to run it a couple of times and got the same issue. He says that he did not cancel the request but that the code loses the connection.

[2022-01-10 13:16] ahijazy commented on #99
There is a similar issue on stackexchange, it seems that there is a QueryTimeout  in latest JDBC driver, setQueryTimeout() should be called with non-zero value.

Here is the link to the stackexchange page:
https://stackoverflow.com/questions/13114101/postgresql-error-canceling-statement-due-to-user-request

[2022-03-20 16:55] leeevans commented on #98
@bdemeulder  In one week, the OHDSI shiny server infrastructure will be reduced in size back to the former configuration (to reduce costs).  That means the PioneerWatchfulWaiting app will no longer run successfully with the current usage of 11 Gb of RAM.

Please rewrite the PioneerWatchfulWaiting app to follow the recommendation from @schuemie  so it can continue to be hosted successfully on data.